<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This sie was created by Akanksha :)
                It uses data from mapbox.com and darksky.net!
            </p>
            <img src="/img/index.jpeg">
        </div>
        {{>footer}}
    </body>
</html>